
    html body {
        height: 100%;
        min-height: 100%;
    }
    
    #siteMap {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%
    }

    #siteMap .container {
        max-width: 100%;
        min-height: 100%
    }
    
    .map .container {
        max-width: 100%
    }
    
    #locateDiv {
      position: absolute;
      top: 130px;
      left: 30px;
    }
    
    #BasemapToggleDiv {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 50;
    }
    
    #elevationDiv {
      position: absolute;
      top: 12px;
      right: 12px;
      padding: 12px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }
    
    #homeDiv {
      position: absolute;
      top: 170px;
      left: 30px;
      z-index: 50;
    }
    
    #searchDiv {
      position: absolute;
      z-index: 20;
      top: 20px;
      left: 74px;
    }
    
    #webglNotSupportedDiv {
      position: absolute;
      top: 0;
      visibility: hidden;
    }
    
    #rotationButtons {
      position: absolute;
      top: 12px;
      right: 18px;
      padding: 8px;
      background-color: rgba(200, 200, 200, 0.5);
      border: 1px solid black;
    }
    
    #rotationButtons button {width: 25px}
    
    #environmentDiv {
      position: absolute;
      top: 12px;
      right: 12px;
      padding: 12px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }
    
    .tiltButton {
        background-color: white;
        border: none;
    }
    
    legend {
        font-size: 14pt
    }
    
    fieldset {
        margin-top: 14px
    }
    
    button {
        margin-bottom: 8px !important;
        width: 100px
    }
    
    .buttonMargin {
        margin-bottom: 8px
    }
    
    .wet-asphalt-flat-button {
        position: relative;
        vertical-align: top;
        width: 100%;
        height: 30px;
        padding: 0;
        font-size: 16px;
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #34495e;
        border: 0;
        border-bottom: 2px solid #263849;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #263849;
        box-shadow: inset 0 -2px #263849;
    }
    
    .wet-asphalt-flat-button:active {
        top: 1px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .graphite-flat-button {
        position: relative;
        vertical-align: top;
        width: 100%;
        height: 30px;
        padding: 0;
        font-size: 16px;
        color:white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #454545;
        border: 0;
        border-bottom: 2px solid #2f2e2e;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #2f2e2e;
        box-shadow: inset 0 -2px #2f2e2e;
    }
    
    .graphite-flat-button:active {
        top: 1px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .clouds-flat-button {
        position: relative;
        vertical-align: top;
        width: 100%;
        height: 30px;
        padding: 0;
        font-size: 16px;
        color:#454545;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #ecf0f1;
        border: 0;
        border-bottom: 2px solid #dadedf;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #dadedf;
        box-shadow: inset 0 -2px #dadedf;
     }
     
    .clouds-flat-button:active {
        top: 1px;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .latLong {
        margin-top: 30px; border: 1px solid #eaeaea; padding: 4px; border-radius: 5px
    }
    
    .addressInput {
        height: 45px; 
        width: 180px;
        line-height: inherit;
        font-size: 9pt
    }

   